<p style="color: green"><%= notice %></p>

<h1>My Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <li>
      <% if message.sender == current_user %>
        To <%= message.receiver.email %>: <%= message.body %>
      <% else %>
        From <%= message.sender.email %>: <%= message.body %>
      <% end %>
      <small><%= message.created_at.strftime("%b %d, %Y %H:%M") %></small>
    </li>
  <% end %>
</ul>


<%= link_to "New message", new_message_path %>
