<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <!-- Avatar upload field -->
    <%= f.input :avatar, as: :file %>

    <%= f.input :bio, as: :text, 
             input_html: { 
               rows: 10, 
               cols: 50, 
               placeholder: 'Tell us about yourself', 
               maxlength: 500 
             }, 
             label: 'Biography' %>

    <%= f.input :user_gym, collection: User.gym_name_options, prompt: "What gym do you go to?" %>


    <%= f.input :time_of_day, collection: User.time_of_days.keys, prompt: "What time do you go to the gym?" %>


   <%= f.input :gym_frequency_category, collection: User.user_gym_frequency_options, prompt: "How often do you go to the gym?" %>


   <%= f.radio_button :skill_level, "beginner" %> Beginner

    <%= f.radio_button :skill_level, "intermediate" %> Intermediate

    <%= f.radio_button :skill_level, "advanced" %> Advanced

     <%= f.input :ideal_match_gender, as: :select, collection: ['Male', 'Female', 'Non-binary'], input_html: { multiple: true }, include_hidden: false %>
     
    
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
