
<h5 class="card-header">
        <%= resource_name != "user" ? resource_name.to_s.titleize : "" %> Sign Up
      </h5>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

  <!--login info-->
    <%= f.input :username, required: true %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
                

    <%= f.input :first_name, required: true %>

    <%= f.input :last_name, required: true %>

    <!--<h2></h2>-->

    <!--basic info-->
    <% User.genders.each_with_index do |gender, i| %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="userGenderRadio" id="<%= "userGenderRadio#{i}" %>">
        <label class="form-check-label" for="<%= "userGenderRadio#{i}" %>">
          <%= gender.at(0).titleize %>
        </label>
      </div>
    <% end %>

    <%= f.input :dob, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, order: [:month, :day, :year], prompt: { month: 'Select month', day: 'Select day', year: 'Select year' }, label: 'Date of Birth' %>

    <!-- Add the avatar file field here -->
    <%= f.input :avatar, as: :file %>

    <%= f.input :bio, as: :text, 
             input_html: { 
               rows: 10, 
               cols: 50, 
               placeholder: 'Tell us about yourself', 
               maxlength: 500 
             }, 
             label: 'Biography' %>

   <%= f.input :user_gym, collection: User.gym_name_options, prompt: "What gym do you go to?" %>

   <%= f.input :time_of_day, collection: User.time_of_days.keys, prompt: "What time do you go to the gym?" %>


   <%= f.input :gym_frequency_category, collection: User.user_gym_frequency_options, prompt: "How often do you go to the gym?" %>


   <%= f.radio_button :skill_level, "beginner" %> Beginner

    <%= f.radio_button :skill_level, "intermediate" %> Intermediate

    <%= f.radio_button :skill_level, "advanced" %> Advanced

     <%= f.input :ideal_match_gender, as: :select, collection: ['Male', 'Female', 'Non-binary'], input_html: { multiple: true }, include_hidden: false %>

     <%#= f.select :ideal_match_gender, User.ideal_match_genders.keys.map { |k| [k.humanize, k] }, {}, { multiple: true, name: 'user[ideal_match_gender][]' } %>

<!---->


  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
