<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Profile Header with User Name and Age -->
      <div class="card mb-3">
        <div class="card-body text-center">
          <h1 class="card-title">
            <%= @user.full_name.titleize %>, <%= @user.age %>
          </h1>
          <% if policy(@user).edit? %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <div class="container mt-4">
      <div class="row">
        <% all_images = [ @user.avatar, *@user.additional_images, *@user.additional_images_2, *@user.additional_images_3 ].compact %>
        <% all_images.each_with_index do |image, index| %>
          <div class="col-sm-3 mb-4">
            <div class="card h-100">
              <%= image_tag(image, class: "card-img-top", alt: "Profile image #{index + 1}") %>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>

      <!-- Bio Card -->
      <% if @user.bio.present? %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><strong>About me</strong></h5>
            <p class="card-text"><%= @user.bio %></p>
          </div>
        </div>
      <% end %>

      <!-- Basics Information in List Group Format -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>My basics</strong></h5>
          <ul class="list-group list-group-flush">
            <% if @user.user_gym.present? %>
              <li class="list-group-item"><strong>The gym I go to:</strong> <span class="text-muted"><%= @user.gym_name %></span></li>
            <% end %>
            <% if @user.gender.present? %>
              <li class="list-group-item"><strong>My gender:</strong> <span class="text-muted"><%= @user.gender %></span></li>
            <% end %>
            <% if @user.time_of_day.present? %>
              <li class="list-group-item"><strong>I go to the gym at these times:</strong> <span class="text-muted"><%= @user.time_of_day %></span></li>
            <% end %>
            <% if @user.user_gym_frequency.present? %>
              <li class="list-group-item"><strong>How often do I go to the gym:</strong> <span class="text-muted"><%= @user.user_gym_frequency %></span></li>
            <% end %>
            <% if @user.skill_level.present? %>
              <li class="list-group-item"><strong>My skill level:</strong> <span class="text-muted"><%= @user.skill_level %></span></li>
            <% end %>
            <% if @user.type_of_workouts.present? %>
              <li class="list-group-item"><strong>Type of workouts I typically do:</strong> <span class="text-muted"><%= @user.workouts %></span></li>
            <% end %>
            <% if @user.ideal_match_gender.present? %>
              <li class="list-group-item"><strong>I'm looking to workout with:</strong> <span class="text-muted"><%= @user.ideal_match_gender.join(', ') %></span></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
