
<h1>
  <%= @user.full_name.titleize %>, <%= @user.age %>
</h1>

<%# Display the user's avatar if it's attached %>


<%= image_tag(@user.avatar, class: "img-fluid", size: "500") if @user.avatar.attached? %>

<% if @user.bio.present? %>
  <h5> <b>About me </b> </h5>
  <p><%= @user.bio %></p>
<% end %>

<h5> <b>My basics </b> </h5>

<% if @user.gym_name.present? %>
  <p> <b>The gym I go to:</b> <%= @user.gym_name %> </p>
<% end %>

<% if @user.gender.present? %>
  <p> <b>My gender:</b> <%= @user.gender %> </p>
<% end %>

<% if @user.time_of_day.present? %>
  <p> <b>I go to the gym at these times: </b> <%= @user.time_of_day %> </p>
<% end %>

<% if @user.user_gym_frequency.present? %>
  <p> <b>How often do I go to the gym:</b> <%= @user.user_gym_frequency %> </p>
<% end %>

<% if @user.skill_level.present? %>
  <p> <b>My skill level:</b> <%= @user.skill_level %> </p>
<% end %>

<% if @user.type_of_workouts.present? %>
  <p> <b>Type of workouts I typically do:</b> <%= @user.workouts %> </p>
<% end %>


<% if @user.ideal_match_gender.present? %>
  <p> <b>Im looking to workout with:</b> 
<!--  loop over all the ideal match genders-->
  <% @user.ideal_match_gender.each do |ideal_gender| %>
      <%= ideal_gender%>
    <% end %>
   </p>
<% end %>

<% if policy(@user).edit? %>
  <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary"%>
<% end %>
