<div class="container mt-5">
  <div class="card border-0 shadow">

    <% if @user.avatar.attached? %>
      <div class="text-center mt-3">
        <%= image_tag(@user.avatar, class: "img-fluid", size: "500") %>
      </div>
    <% end %>

    <!-- Additional Images Section -->
    <% if @user.additional_images.attached? %>
      <div class="text-center mt-3">
        <h5><strong>Additional Images</strong></h5>
        <% @user.additional_images.each do |image| %>
          <%= image_tag(image, class: "img-fluid rounded", size: "200x200") %>
        <% end %>
      </div>
    <% end %>

    <div class="card-body">
      <h1 class="card-title text-center">
        <%= @user.full_name.titleize %>, <%= @user.age %>

        <% if policy(@user).edit? %>
          <div class="text-center mt-4 mb-4">
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </h1>

      <% if @user.bio.present? %>
        <div class="mt-4 px-3">
          <h5><strong>About me</strong></h5>
          <p><%= @user.bio %></p>
        </div>
      <% end %>

      <div class="mt-4 px-3">
        <h5><strong>My basics</strong></h5>
        <ul class="list-group list-group-flush">
          <% if @user.user_gym.present? %>
            <li class="list-group-item"><strong>The gym I go to:</strong> <%= @user.gym_name %></li>
          <% end %>
          <% if @user.gender.present? %>
            <li class="list-group-item"><strong>My gender:</strong> <%= @user.gender %></li>
          <% end %>
          <% if @user.time_of_day.present? %>
            <li class="list-group-item"><strong>I go to the gym at these times:</strong> <%= @user.time_of_day %></li>
          <% end %>
          <% if @user.user_gym_frequency.present? %>
            <li class="list-group-item"><strong>How often do I go to the gym:</strong> <%= @user.user_gym_frequency %></li>
          <% end %>
          <% if @user.skill_level.present? %>
            <li class="list-group-item"><strong>My skill level:</strong> <%= @user.skill_level %></li>
          <% end %>
          <% if @user.type_of_workouts.present? %>
            <li class="list-group-item"><strong>Type of workouts I typically do:</strong> <%= @user.workouts %></li>
          <% end %>
          <% if @user.ideal_match_gender.present? %>
            <li class="list-group-item"><strong>I'm looking to workout with:</strong> <%= @user.ideal_match_gender.join(', ') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
